<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}

{%block head%}

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addresses</title>
</head>
{%endblock%}

{%block body%}

<body>
    <h1>Address</h1>
    <div class="wrapper">
        <div class="first">
            <br>
            <br>
            <h3>Update Address</h3>
            <form>
                <label for="streetAddress">Street Address: </label><br>
                <input type="text" name="streetAddress" id="streetAddress"><br><br>
                <label for="city">City: </label><br>
                <input type="text" name="city" id="city"><br><br>
                <label for="state">State: </label><br>
                <input type="text" name="state" maxlength="2" id="state"><br><br>
                <label for="zipCode">Zip Code: </label><br>
                <input type="number" name="zipCode" min="00001" max="99950" id="zipCode"><br><br>
                <input class="btn btn-primary" type="submit" value = "Submit">
            </form>
            <br>
        </div>

        <br>
        <br>
        <div class="second">
            <h3>Add Address</h3>

            <form action="/addresses" method = "POST">
                <label for="streetAddress">Street Address: </label><br>
                <input type="text" name="streetAddress" id="streetAddress"><br><br>
                <label for="city">City: </label><br>
                <input type="text" name="city" id="city"><br><br>
                <label for="state">State: </label><br>
                <input type="text" name="state" maxlength="2" id="state"><br><br>
                <label for="zipCode">Zip Code: </label><br>
                <input type="number" name="zipCode" min="00001" max="99950" id="zipCode"><br><br>
                <input class="btn btn-primary" type="submit" value = "Submit">
            </form>
            <br>
        </div>
    </div>
    <hr>
    <h3>All Addresses</h3>
    <table class="table">
        <tr>
            <th>Address ID</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th></th>
        </tr>
        {%for row in rows%}
        <tr>
            <td>{{row["addressID"]}}</td>
            <td>{{row["streetAddress"]}}</td>
            <td>{{row["city"]}}</td>
            <td>{{row["state"]}}</td>
            <td>{{row["zipCode"]}}</td>
            <th><button type="button" class="btn btn-primary">Delete</button></th>
        </tr>
        {%endfor%}
    </table>
</body>
{%endblock%}

</html>

