<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}

{%block head%}

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
</head>
{%endblock%}

{%block body%}

<body>
    <h1>Appointments</h1>
    <div class="wrapper">
        <div class="first">
            <h3>Update Appointment</h3>

            <form action="/appointments/update" method="POST">
                <div class="dropdown">
                    <label for="appointmentID">Choose an appointment to update: </label><br>
                    <select name="appointmentID" id="appointmentID">
                        {% for appointment in appointment_list %}
                            <option name="appointmentID" value="{{appointment.appointmentID}}" SELECTED> {{appointment.patientID}}, {{appointment.procedureID}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <input type="hidden" id="mode" name="mode" value="update">
                <input type="submit" class="btn btn-primary">
            </form>
            <br>
        </div>

        <div class="second">
            <h3>Add Appointment</h3>

            <form action="/appointments" method ="POST">
                <label for="patientID">Patient Name: </label><br>
                <div class="dropdown">
                    <select name="patientID" id="patientID">
                        {% for patient in patient_list %}
                            <option name="patientName" value="{{patient.patientID}}" SELECTED> {{patient.patientFirst}} {{patient.patientLast}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>

                <label for="doctorID">Doctor Name: </label><br>
                <div class="dropdown">
                    <select name="doctorID" id="doctorID">
                        {% for doctor in doctor_list %}
                            <option name="doctorName" value="{{doctor.doctorID}}" SELECTED> {{doctor.doctorFirst}} {{doctor.doctorLast}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
             
                <label for="procedureID">Procedure Name: </label><br>
                <div class="dropdown">
                    <select name="procedureID" id="procedureID">
                        {% for procedure in procedure_list %}
                            <option name="procedureName" value="{{procedure.procedureID}}" SELECTED> {{procedure.procedureName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>

                <label for="appointmentDate">Appointment Date: </label><br>
                <input class="form-control" required type="date" name="appointmentDate" id="appointmentDate"><br><br>
                <input type="hidden" id="mode" name="mode" value="add">
                <input type="submit" class="btn btn-primary">
            </form>
            <br>
        </div>
    </div>
    <hr>
    <h3>All Appointments</h3>
    <table class="table">
        <tr>
            <th>appointmentID</th>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Procedure Name</th>
            <th>Date</th>
            <th></th>
        </tr>
        {%for appointment in appointment_list%}
        <tr>
            <td>{{appointment["appointmentID"]}}</td>
            <td>{{appointment["patientID"]}}</td>
            <td>{{appointment["doctorID"]}}</td>
            <td>{{appointment["procedureID"]}}</td>
            <td>{{appointment["appointmentDate"]}}</td>
            <th><a href="/delete/appointments/{{appointment['appointmentID']}}" class="btn btn-primary">Delete</a></th>
        </tr>
        {%endfor%}
    </table>
</body>
{%endblock%}

</html>