<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}

{%block head%}

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
</head>
{%endblock%}

{%block body%}
<body>
    <h1>Doctors</h1>
    <div class="wrapper">
        <div class="first">
            <br>
            <br>
            <h3>Update Doctor</h3>

            <form>
                <label for="doctorID">Doctor ID: </label><br>
                <input type="text" name="doctorID" id="doctorID"><br><br>
                <label for="doctorFirst">Doctor First: </label><br>
                <input type="text" name = "doctorFirst" id="doctorFirst"><br><br>
                <label for="doctorLas">Doctor Last: </label><br>
                <input type="text" id="doctorLast" name= "doctorLast"><br><br>
                <label for="doctorDOB">Doctor Birthday: </label><br>
                <input type="date" name = "doctorDOB" id="doctorDOB"><br><br>
                <label for="departmentID">Department ID: </label><br>
                <input type="text" name="departmentID" id="departmentID"><br><br>
                <input type="submit" class="btn btn-primary">
            </form>
            <br>
        </div>

        <br>
        <br>
        <div class="second">
            <h3>Add Doctor</h3>

            <form action="/doctors" method="POST">
                <label for="doctorFirst">Doctor First: </label><br>
                <input type="text" name = "doctorFirst" id="doctorFirst"><br><br>
                <label for="doctorLas">Doctor Last: </label><br>
                <input type="text" id="doctorLast" name= "doctorLast"><br><br>
                <label for="doctorDOB">Doctor Birthday: </label><br>
                <input type="text" name = "doctorDOB" id="doctorDOB"><br><br>
                <label for="doctorID">Department Name: </label><br>
                <div class="dropdown">
                    <select name="departmentID" id="departmentID">
                        {% for department in department_list %}
                            <option name="departmentName" value="{{department.departmentID}}" SELECTED> {{department.departmentName}}</option>
                        {% endfor %}
                    </select>
                </div><br><br>
                <input type="submit" class="btn btn-primary">
            </form>
            <br>
        </div>
    </div>
    <hr>
    <h3>All Doctors</h3>
    <table class="table">
        <tr>
            <th>Doctor ID</th>
            <th>Doctor First</th>
            <th>Doctor Last</th>
            <th>Doctor DOB</th>
            <th>Department ID</th>
            <th></th>
        </tr>
        {%for row in rows%}
        <tr>
            <td>{{row["doctorID"]}}</td>
            <td>{{row["doctorFirst"]}}</td>
            <td>{{row["doctorLast"]}}</td>
            <td>{{row["doctorDOB"]}}</td>
            <td>{{row["departmentID"]}}</td>
            <th><a href="/delete/doctors/{{row['doctorID']}}" class="btn btn-primary">Delete</a></th>        </tr>
        {%endfor%}
    </table>
</body>
{%endblock%}

</html>