<!DOCTYPE html>
<html lang="en">
    {%extends 'base.html'%}

    {%block head%}
    <head>

        <link rel="stylesheet" href="/static/styles.css">
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paragon Healthcare Portal</title>
    </head>
    {%endblock%}
    
{%block body%}
<body>
    <h1>Paragon Healthcare Portal</h1>
    <p>Welcome to Paragon Health Portal</p>
    <p>This portal can be used to add Patients, Procedures, Doctors, Departments,
        Appointments and procedures between doctors and procedures. This portal allows you to
        quickly look up any of the aformentioned categories and the entities for quick reference and
        access for any users.</p>
        <p>Please proceed by navigating to any of the pages in the menu bar.</p>
    </body>
    {%endblock%}

</html>