<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block head%}

<head>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
{%endblock%}

{%block body%}

<body>
    <h1>Patients</h1>
    <div class="wrapper">
        <div class="first">

            <h3>Update Patient</h3>

            <form action="/patients/update" method="POST">
                <div class="dropdown">
                    <label for="patientID">Choose a patient to update: </label><br>
                    <select name="patientID" id="patientID">
                        {% for patient in patient_list %}
                            <option name="patientID" value="{{patient.patientID}}" SELECTED> {{patient.patientFirst}} {{patient.patientLast}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <input type="hidden" id="mode" name="mode" value="update">
                <input type="submit" class="btn btn-primary">
            </form>
            <br>
        </div>

        <div class="second">
            <h3>Add Patient</h3>

            <form action="/patients" method="POST">
                <label for="patientFirst">Patient First: </label><br>
                <input type="text" name="patientFirst" id="patientFirst"><br><br>
                <label for="patientLast">Patient Last: </label><br>
                <input type="text" name="patientLast" id="patientLast"><br><br>
                <label for="patientDOB">Patient Birthday: </label><br>
                <input type="text" name="patientDOB" id="patientDOB"><br><br>
                <label for="doctorID">Doctor Name: </label><br>
                <div class="dropdown">
                    <select name="doctorID" id="doctorID">
                        {% for doctor in doctor_list %}
                            <option name="doctorName" value="{{doctor.doctorID}}" SELECTED> {{doctor.doctorFirst}} {{doctor.doctorLast}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <br>
                <input type="hidden" id="mode" name="mode" value="add">
                <input type="submit" class="btn btn-primary" >
            </form>
            <br>
        </div>
    </div>
    <hr>
    <h3>All Patients</h3>

    <h6>Use dropdown to select a single patient by First and Last Name:</h6>
    <form>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="patientSearchDropDown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Patient
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Andrew Armadillo</a>
            <a class="dropdown-item" href="#">Zachary Zucchini</a>
        </div>
    </div>
    </form>
    <table class="table">
        <tr>
            <th>Patient ID</th>
            <th>Patient First</th>
            <th>Patient Last</th>
            <th>Patient DOB</th>
            <th>Patient Primary Care Physician</th>
            <th></th>
        </tr>
        {%for patient in patient_list%}
        <tr>
            <td>{{patient["patientID"]}}</td>
            <td>{{patient["patientFirst"]}}</td>
            <td>{{patient["patientLast"]}}</td>
            <td>{{patient["patientDOB"]}}</td>
            <td>{{patient["patientDoc"]}}</td>
            <th><a href="/delete/patients/{{patient['patientID']}}" class="btn btn-primary">Delete</a></th>
            <!-- <th><button type="button" class="btn btn-primary">Delete</button></th> -->
        </tr>
        {%endfor%}
    </table>
</body>
{%endblock%}

</html>