<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}

{%block head%}

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procedures</title>
</head>
{%endblock%}

{%block body%}

<body>
    <h1>Procedures</h1>
    <div class="wrapper">
        <div class="first">
            <br>
            <br>
            <h3>Update Procedure</h3>

            <form>
                <label for="procedureID">Procedure ID: </label><br>
                <input type="text" id="procedureID" name="procedureID"><br><br>
                <label for="procedureName" >Procedure Name: </label><br>
                <input type="text" id="procedureName"name="procedureName"><br><br>
                <label for="inPatient">Inpatient: </label><br>
                <input type="radio" name="inPatient" id="patientFirst" value = "1">True<br>
                <input type="radio" name="inPatient" id="patientFirst" value = "0">False<br>
                <input type="submit" class="btn btn-primary">
            </form>
            <br>

        </div>

        <br>
        <br>
        <div class="second">
            <h3>Insert Procedure</h3>

            <form action="/procedures" method="POST">
                <label for="procedureName" >Procedure Name: </label><br>
                <input type="text" id="procedureName"name="procedureName"><br><br>
                <label for="inPatient">Inpatient: </label><br>
                <input type="radio" name="inPatient" id="patientFirst" value = "1">True<br>
                <input type="radio" name="inPatient" id="patientFirst" value = "0">False<br>
                <input type="submit" class="btn btn-primary">
            </form>
            <br>
        </div>
    </div>
    <hr>
    <h3>All Procedures</h3>
    <table class="table">
        <tr>
            <th>Procedure ID</th>
            <th>Procedure Name</th>
            <th>Inpatient</th>
            <th></th>
        </tr>
        {%for row in rows%}
        <tr>
            <td>{{row["procedureID"]}}</td>
            <td>{{row["procedureName"]}}</td>
            <td>{{row["inPatient"]}}</td>
            <th><button type="button" class="btn btn-primary">Delete</button></th>
        </tr>
        {%endfor%}
    </table>
</body>
{%endblock%}

</html>