<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}

{%block head%}

<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procedures</title>
</head>
{%endblock%}

{%block body%}

<body>
    <h1>Procedures</h1>
    <div class="wrapper">
        <div class="first">
            <h3>Update Procedure</h3>

            <form action="/procedures/update" method="POST">
                <div class="dropdown">
                    <label for="procedureID">Choose a procedure to update: </label><br>
                    <select name="procedureID" id="procedureID">
                        {% for procedure in procedure_list %}
                            <option name="procedureID" value="{{procedure.procedureID}}" SELECTED> {{procedure.procedureName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <input type="hidden" id="mode" name="mode" value="update">
                <input type="submit" class="btn btn-primary">
            </form>
            <br>

        </div>

        <div class="second">
            <h3>Add Procedure</h3>

            <form action="/procedures" method="POST">
                <label for="procedureName" >Procedure Name: </label><br>
                <input type="text" id="procedureName"name="procedureName"><br><br>
                <label for="inPatient">Inpatient: </label><br>
                <input type="radio" name="inPatient" id="patientFirst" value = "1">True<br>
                <input type="radio" name="inPatient" id="patientFirst" value = "0">False<br>
                <input type="hidden" id="mode" name="mode" value="add">
                <br>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
    <hr>
    <h3>All Procedures</h3>
    <table class="table">
        <tr>
            <th>Procedure ID</th>
            <th>Procedure Name</th>
            <th>Inpatient</th>
            <th></th>
        </tr>
        {%for procedure in procedure_list%}
        <tr>
            <td>{{procedure["procedureID"]}}</td>
            <td>{{procedure["procedureName"]}}</td>
            {%if procedure["inPatient"] == 1%}
                <td>True</td>
            {%else%}
                <td>False</td>
            {%endif%}
            <th><a href="/delete/procedures/{{procedure['procedureID']}}" class="btn btn-primary">Delete</a></th>
        </tr>
        {%endfor%}
    </table>
</body>
{%endblock%}

</html>